@import "compass/reset";
@import "compass";

// =Typography

body { font-family: Palatino, cursive, serif; }
p, figcaption { font-size: 14px; line-height: 22px; }
em { font-style: italic; }
h1, h2 { font-family: "Vast Shadow", cursive, serif; }
h1 { font-size: 25px; }
body > header, body > article, #venue article {
  h1 { font-family: "Abel", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 40px; }
  sup { font-size: 6px; vertical-align: top; text-transform: lowercase; }
}
body > header { text-transform: uppercase; }
body > article h1 { font-size: 20px; line-height: 24px; }
a { text-decoration: none; }
.button { font-family: Arial, Helvetica; font-style: bold; text-transform: uppercase; }
#venue article h1 { font-size: 25px; }
#speakers h1 { font-family: Palatino, cursive, serif; font-size: 18px; }

// =Color

body { background: #f5f3ed no-repeat center top; color: #2b2b2b; }
body > header {
  h1 { text-shadow: #201a30 0 2px 2px;
    b { color: #992b28; }
    // This duplicates the text to create the double shadow effect like in the design
    &, b { position: relative;
      &:before, &:after { content: attr(title); position: absolute; opacity: .3; }
        &:before { left: 0; top: -1px; }
        &:after { left: 1px; top: 1px; }
    }
  }
  time { color: #bd3632; }
}
body > article { text-shadow: #fff 0 1px 1px;}
a { color: #992b28;
  &:hover { text-decoration: underline; }
}
figcaption { background: #fafbd7; background: rgba(43, 43, 43, .9); color: #fafbd7; }
.button { @include background(linear-gradient(#c0e47c, #a6c75e)); color: #5d7731; line-height: 39px; text-shadow: #f0fbd9 0 1px 1px; text-align: center;
  .call-for-proposal & { position: relative; padding-left: 48px;
    &:before { content: ''; display: block; width: 34px; height: 30px; position: absolute; left: 6px; top: 4px; background: url(/images/octocat-icon.png) no-repeat left top; }
  }
  .buy-tickets & { position: relative; padding-left: 48px;
    &:before { content: ''; display: block; width: 31px; height: 30px; position: absolute; left: 6px; top: 4px; background: url(/images/tickets-icon.png) no-repeat left top; }
  }
}

// =Layout

.button { padding: 0 18px; border: 1px solid #9bb66a; height: 39px; display: inline-block; @include border-radius(2px); @include box-shadow(#dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px);}
body > header { padding: 10px; margin-bottom: 10px;
  b { display: inline-block; }
  figure { width: 25.2998909%; display: inline-block; vertical-align: top;
    img { max-width: 100%; }
  }
  hgroup { display: inline-block; vertical-align: top; margin-top: 10px; }
  h2 { margin-top: 4px; }
}
body > article { padding: 20px;
  h1 { margin-bottom: 20px; }
}
aside { margin-top: 20px; border-top: 11px solid #c8c5bf;
  h1 { margin-bottom: 30px; }
  section { padding: 20px; }
}
#venue {
  figure img { max-width: 46%; margin-right: 10px; vertical-align: top;
    &:nth-child(3) { display: none; }
  }
  article { margin-top: 30px;
    h1 { margin-bottom: 20px; }
  }
}
#speakers {
  ul, h1 { margin-bottom: 15px; }
  li { padding-bottom: 5px; border-bottom: 5px solid #c8c5bf; margin: 20px 0 0 0;}
  img { max-width: 100%; }
  figcaption { display: none; }
}

strong { font-weight: bold; }

nav {
  height: 42px;
  background: #2b2b2b;
  width: 100%;

  ul {
    font-family: "Abel", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 42px;
    text-align: right;
    position: relative;

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 30px;

      &:first-child {
        position: absolute;
        left: 0;
        top: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.twitter {
        font-size: 13px;
        padding-right: 28px;
        background: url(/images/twitter.png) no-repeat right center;
      }
    }

    a {
      color: #fafbd7;
      text-transform: uppercase;

      &:hover {
        color: #ec716d;
      }
    }
  }
}

.blog, .schedule {
  article {
    h1, h2 { font-family: Palatino, cursive, serif; }
  }

  > h1 {
    border-top: 11px solid #C8C5BF;
    padding: 20px;
    padding-bottom: 0;

    b {
      display: block;
      margin: 0 auto;
    }
  }

  > article > div img {
    max-width: 100%;
  }
}

table {
  width: 100%;
  
  th, td {
    padding: 0 20px;
  }
  
  tr {
    line-height: 2.5;
    background: #fff;
    border-bottom: 1px solid #ccc;
    
    &:nth-child(even) {
      background: #F5F3ED;
    }
  }
  
  thead {
    border: 1px solid #992B28;
    border-bottom: none;
    
    tr {
      background: #992B28;
      color: #fff;
      text-shadow: none;
      
      th { font-weight: bold;}
    }
  }
  
  tbody {
    border: 1px solid #ccc;
  }
}

article section.special-event {
  overflow: hidden;
  margin-bottom: 50px;
  
  p {
    width: 60%;
  }
  
  img {
    border: 1px solid #ccc;
    background: #fff;
    padding: 15px;
    margin-right: 20px;
    max-width: 120px;
    float: left;
  }
  
  h3 {
    padding-top: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 800px) {
  //= Typography

  body > header {
    hgroup { margin: 30px 0 0 12px; }
    h1 { font-size: 129px; }
    h2 { font-size: 34px; word-spacing: 0; }
    // This duplicates the text to create the double shadow effect like in the design
    h1, h1 b { position: relative;
        &:before, &:after { content: attr(title); position: absolute; opacity: .3; }
          &:before { left: 0; top: -4px; }
          &:after { left: 4px; top: 4px; }
    }
    sup { font-size: 18px; }
    figure { width: auto; }
  }
  body > article {
    h1 { font-size: 30px; line-height: 40px; text-indent: 28px; }
  }
  p { font-size: 16px; line-height: 25px; }
  #speakers h1 { font-family: "Vast Shadow", cursive, serif; font-size: 25px; }
  .call-for-proposal { text-align: right; }

  //= Color
  body { background-image: url(/images/header-bg.jpg); }
  body.blog, body.schedule { background-image: url(/images/small-header-bg.jpg); background-position-y: 37px; }

  //= Layout

  body > header, body > article, aside section, nav ul, #sponsors > div { width: 917px; padding: 0; margin: 0 auto; }
  body > header { padding-top: 76px;
    h2 { margin-left: 8px; }
  }
  body > article { margin-top: 40px; min-height: 226px;
    h1 { margin-bottom: 30px; }
  }
  aside { margin-top: 30px; margin-bottom: 40px;
    section { margin-top: 40px; }
    #speakers h1 { margin-bottom: 30px; }
  }
  #venue { padding-bottom: 58px; border-bottom: 1px solid #c8c5bf;
    figure {
      img { max-width: 292px; }
      img:nth-child(3) { display: inline; }
    }
    article { margin-top: 35px;
      h1 { margin-bottom: 38px; }
    }
  }
  .extra-info {
    margin: 0 auto;
    width: 917px;
  }

  #sponsors {
    background: url(/images/bg_footer.png) repeat-x center bottom;
    padding: 40px 0 349px;
    border-top: 11px solid #C8C5BF;

    h1 {
      margin-bottom: 20px;
    }

    div {
        margin-bottom: 40px;
    }

    h3 {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px;
      background: #992B28;
      color: #fff;
      font-family: Helvetica, Arial, Verdana;
      font-weight: bold;
      font-size: 10px;
      text-transform: uppercase;
    }

    ul {
      overflow: hidden;
      padding-bottom: 20px;
    }

    li {
      float: left;
      width: 284px;
      height: 180px;
      margin: 30px 0 0 30px;
      position: relative;

      &:nth-child(3n+1) {
        clear: both;
        margin-left: 0;
      }

      &>a {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        background: #fff;
        padding: 30px;
        @include box-sizing(border-box);

        &:hover { border-color: #992B28; }
        &.open { text-align: center; padding-top: 55px; }
      }

      p {
        margin-bottom: 15px;
      }
      p:last-child {
        margin-bottom: 0px;
      }

      img { max-width: 100%; }

      &.description {
        width: 598px;
        height: auto;
      }
    }

    .silver {
      li {
        width: 205px;
        height: 136px;
        margin-left: 150px;

        &:nth-child(3n+1) {
          clear: both;
          margin-left: 0;
        }
      }
    }
    .supporters {
      li {
        height: auto;

        span {
          float: right;
          margin-right: 10px;
          font-style: italic;
          color: #848484;
        }
      }
    }
  }

  #tickets {
    padding-bottom: 58px;
    border-bottom: 1px solid #c8c5bf;

    b { font-weight: bold; }
    p { margin-bottom: 15px; }
    .buy-tickets { text-align: right; }
  }
  #speakers { position: relative; margin-left: 0; margin-right: 38px;
    article h1 { position: absolute; left: -9999em; }
    ul { margin: 28px 0 26px;}
    li { border: none; margin: 0 10px 0 0; display: inline-block; }
    img { @include border-radius(2px); }
    p { margin-bottom: 15px; }
    figure { position: relative; overflow: hidden; }
    figcaption { width: 100%; height: 31px; position: absolute; left: 0; bottom: -31px; display: block; @include border-bottom-radius(2px); line-height: 31px; text-indent: 7px; @include transition(bottom .3s); }
    a:hover figcaption { bottom: 0; }
    .call-for-proposal { width: 100%; margin-top: 15px; }
  }

  #blog article, .blog article, .schedule article {
    h1 { font-size: 30px; margin: 0 0 -20px 83px; }
    h2 { font-size: 24px; margin: 12px 0 24px 0; }
  }
  #blog article {
    border-bottom: 1px solid #C8C5BF;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  #blog article footer {
    margin: 0;
  }
  #blog article h1 {
    font-size: 20px;
    position: relative;
  }

  #blog, .blog article, .schedule article {
    footer {
      margin-bottom: 38px;
      font-size: 16px;

      div {
        display: inline-block;
        vertical-align: bottom;
        margin-left: 15px;
      }

      img {
        vertical-align: top;
      }

      time {
        font-style: italic;
        color: #848484;
      }
    }
  }

  #blog article footer div {
    margin-left: 9px;
  }

  .blog, .schedule {
    > header {
      height: 135px;

      figure {
        width: 118px;
        height: 118px;
      }

      hgroup {
        margin-top: 0;
        margin-left: 4px;
      }

      h1 {
        display: inline-block;
        font-size: 110px;
        vertical-align: top;
      }

      h2 {
        display: inline-block;
        font-size: 30px;
        margin-left: 26px;
        text-align: right;

        b {
          display: block;

          &.month { font-size: 50px; }
        }
      }

      time {
        color: #2B2B2B;
      }
    }

    > h1 {
      padding-top: 38px;

      b {
        width: 917px;
      }
    }
  }

  .blog, .schedule {
    footer, article > div {
      display: inline-block;
      vertical-align: top;
    }

    div > h1, div > h3, article > div p {
      margin: 0;
      text-indent: 0;
      padding-bottom: 24px;
    }

    article > div p:last-child {
      padding-bottom: 0;
    }

    article.post {
      border-bottom: 1px solid #C8C5BF;
      padding-bottom: 45px;
    }

    footer {
      width: 274px;
    }

    article > div {
      width: 620px;
      margin-left: 20px;
    }

    article {
      margin-bottom: 45px;

      b, strong {
        font-weight: bold;
      }
      p {
        margin-bottom: 8px;
      }
      h3 {
        font-size: 20px;
        padding-top: 12px;
      }
      ul {
        margin-bottom: 24px;
      }
      q {
        font-style: italic;

        &:before {
          content: '“';
        }
        &:after {
          content: '”';
        }
      }
    }
  }

  .extra-info {
    section {
      display: inline-block;
      width: 439px;
      vertical-align: top;
    }

    .read-more {
      margin-top: 30px;
      text-align: right;
    }
  }
}

@media only screen and (min-width: 1500px) {
  body { background-size: 100% 619px; }
  body.blog, body.schedule { background-size: 100% 217px; }
}
