<nav>
  <ul>
    <li class="twitter"><a href="http://twitter.com/euruko">Follow us on Twitter</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/blog.html">Blog</a></li>
    <li><a href="/speakers.html">Speakers</a></li>
  </ul>
</nav>
<header>
  <figure>
    <img src="/images/logo.png" alt="">
  </figure><hgroup>
    <h1 title="Euruko">EuRuKo<b title="2012">2012</b></h1>
    <h2><time datetime="2012-06-01">01</time> &amp; <time datetime="2012-06-02">02 <b class="month">june</b> <b class="year">2012</b></time>
  </hgroup>
</header>
