/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/screen.scss */
body {
  font-family: Palatino, cursive, serif;
}

/* line 7, ../sass/screen.scss */
p, figcaption {
  font-size: 14px;
  line-height: 22px;
}

/* line 8, ../sass/screen.scss */
h1, h2 {
  font-family: "Vast Shadow", cursive, serif;
}

/* line 9, ../sass/screen.scss */
h1 {
  font-size: 25px;
}

/* line 11, ../sass/screen.scss */
body > header h1, body > article h1, #venue article h1 {
  font-family: "Abel", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
}
/* line 12, ../sass/screen.scss */
body > header h2, body > article h2, #venue article h2 {
  font-size: 8px;
  word-spacing: 3px;
}
/* line 13, ../sass/screen.scss */
body > header sup, body > article sup, #venue article sup {
  font-size: 6px;
  vertical-align: top;
  text-transform: lowercase;
}

/* line 15, ../sass/screen.scss */
body > header {
  text-transform: uppercase;
}

/* line 16, ../sass/screen.scss */
body > article h1 {
  font-size: 20px;
  line-height: 24px;
}

/* line 17, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 18, ../sass/screen.scss */
.button {
  font-family: Arial, Helvetica;
  font-style: bold;
  text-transform: uppercase;
}

/* line 19, ../sass/screen.scss */
#venue article h1 {
  font-size: 25px;
}

/* line 20, ../sass/screen.scss */
#speakers h1 {
  font-family: Palatino, cursive, serif;
  font-size: 18px;
}

/* line 24, ../sass/screen.scss */
body {
  background: #f5f3ed no-repeat center top;
  color: #2b2b2b;
}

/* line 26, ../sass/screen.scss */
body > header h1 {
  text-shadow: #201a30 0 2px 2px;
}
/* line 27, ../sass/screen.scss */
body > header h1 b {
  color: #992b28;
}
/* line 29, ../sass/screen.scss */
body > header h1, body > header h1 b {
  position: relative;
}
/* line 30, ../sass/screen.scss */
body > header h1:before, body > header h1:after, body > header h1 b:before, body > header h1 b:after {
  content: attr(title);
  position: absolute;
  opacity: .3;
}
/* line 31, ../sass/screen.scss */
body > header h1:before, body > header h1 b:before {
  left: 0;
  top: -1px;
}
/* line 32, ../sass/screen.scss */
body > header h1:after, body > header h1 b:after {
  left: 1px;
  top: 1px;
}
/* line 35, ../sass/screen.scss */
body > header time {
  color: #bd3632;
}

/* line 37, ../sass/screen.scss */
body > article {
  text-shadow: #fff 0 1px 1px;
}

/* line 38, ../sass/screen.scss */
a {
  color: #992b28;
}
/* line 39, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 41, ../sass/screen.scss */
figcaption {
  background: #fafbd7;
  background: rgba(43, 43, 43, 0.9);
  color: #fafbd7;
}

/* line 42, ../sass/screen.scss */
.button {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c0e47c), color-stop(100%, #a6c75e));
  background: -webkit-linear-gradient(#c0e47c, #a6c75e);
  background: -moz-linear-gradient(#c0e47c, #a6c75e);
  background: -o-linear-gradient(#c0e47c, #a6c75e);
  background: -ms-linear-gradient(#c0e47c, #a6c75e);
  background: linear-gradient(#c0e47c, #a6c75e);
  color: #5d7731;
  line-height: 39px;
  text-shadow: #f0fbd9 0 1px 1px;
  text-align: center;
}
/* line 43, ../sass/screen.scss */
.call-for-proposal .button {
  position: relative;
  padding-left: 48px;
}
/* line 44, ../sass/screen.scss */
.call-for-proposal .button:before {
  content: '';
  display: block;
  width: 34px;
  height: 30px;
  position: absolute;
  left: 6px;
  top: 4px;
  background: url(/images/octocat-icon.png) no-repeat left top;
}

/* line 50, ../sass/screen.scss */
.button {
  padding: 0 18px;
  border: 1px solid #9bb66a;
  height: 39px;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
  -webkit-box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
  -o-box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
  box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
}

/* line 51, ../sass/screen.scss */
body > header {
  padding: 10px;
  margin-bottom: 10px;
}
/* line 52, ../sass/screen.scss */
body > header b {
  display: inline-block;
}
/* line 53, ../sass/screen.scss */
body > header figure {
  width: 25.2998909%;
  display: inline-block;
  vertical-align: top;
}
/* line 54, ../sass/screen.scss */
body > header figure img {
  max-width: 100%;
}
/* line 56, ../sass/screen.scss */
body > header hgroup {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
/* line 57, ../sass/screen.scss */
body > header h2 {
  margin-top: 4px;
}

/* line 59, ../sass/screen.scss */
body > article {
  padding: 0 20px;
}
/* line 60, ../sass/screen.scss */
body > article h1 {
  margin-bottom: 20px;
}

/* line 62, ../sass/screen.scss */
aside {
  margin-top: 20px;
  border-top: 11px solid #c8c5bf;
}
/* line 63, ../sass/screen.scss */
aside h1 {
  margin-bottom: 30px;
}
/* line 64, ../sass/screen.scss */
aside section {
  padding: 20px;
}

/* line 67, ../sass/screen.scss */
#venue figure img {
  max-width: 46%;
  margin-right: 10px;
  vertical-align: top;
}
/* line 68, ../sass/screen.scss */
#venue figure img:nth-child(3) {
  display: none;
}
/* line 70, ../sass/screen.scss */
#venue article {
  margin-top: 30px;
}
/* line 71, ../sass/screen.scss */
#venue article h1 {
  margin-bottom: 20px;
}

/* line 75, ../sass/screen.scss */
#speakers ul, #speakers h1 {
  margin-bottom: 15px;
}
/* line 76, ../sass/screen.scss */
#speakers li {
  padding-bottom: 5px;
  border-bottom: 5px solid #c8c5bf;
  margin: 20px 0 0 0;
}
/* line 77, ../sass/screen.scss */
#speakers img {
  max-width: 100%;
}
/* line 78, ../sass/screen.scss */
#speakers figcaption {
  display: none;
}

/* line 81, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 83, ../sass/screen.scss */
nav {
  height: 42px;
  background: #2b2b2b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
/* line 92, ../sass/screen.scss */
nav ul {
  font-family: "Abel", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 42px;
  text-align: right;
  position: relative;
}
/* line 100, ../sass/screen.scss */
nav ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}
/* line 105, ../sass/screen.scss */
nav ul li:first-child {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 111, ../sass/screen.scss */
nav ul li:last-child {
  margin-right: 0;
}
/* line 115, ../sass/screen.scss */
nav ul li.twitter {
  font-size: 13px;
  padding-right: 28px;
  background: url(/images/twitter.png) no-repeat right center;
}
/* line 122, ../sass/screen.scss */
nav ul a {
  color: #fafbd7;
  text-transform: uppercase;
}
/* line 126, ../sass/screen.scss */
nav ul a:hover {
  color: #ec716d;
}

/* line 134, ../sass/screen.scss */
.blog > header {
  height: 135px;
}
/* line 137, ../sass/screen.scss */
.blog > header figure {
  width: 118px;
  height: 118px;
}
/* line 142, ../sass/screen.scss */
.blog > header hgroup {
  margin-top: 0;
  margin-left: 4px;
}
/* line 147, ../sass/screen.scss */
.blog > header h1 {
  display: inline-block;
  font-size: 110px;
  vertical-align: top;
}
/* line 153, ../sass/screen.scss */
.blog > header h2 {
  display: inline-block;
  font-size: 30px;
  margin-left: 26px;
  text-align: right;
}
/* line 159, ../sass/screen.scss */
.blog > header h2 b {
  display: block;
}
/* line 162, ../sass/screen.scss */
.blog > header h2 b.month {
  font-size: 50px;
}
/* line 166, ../sass/screen.scss */
.blog > header time {
  color: #2B2B2B;
}
/* line 171, ../sass/screen.scss */
.blog > h1 {
  padding-top: 38px;
  border-top: 11px solid #C8C5BF;
}
/* line 175, ../sass/screen.scss */
.blog > h1 b {
  display: block;
  margin: 0 auto;
  width: 917px;
}

@media only screen and (min-width: 800px) {
  /* line 187, ../sass/screen.scss */
  body > header hgroup {
    margin: 30px 0 0 12px;
  }
  /* line 188, ../sass/screen.scss */
  body > header h1 {
    font-size: 129px;
  }
  /* line 189, ../sass/screen.scss */
  body > header h2 {
    font-size: 34px;
    word-spacing: 0;
  }
  /* line 191, ../sass/screen.scss */
  body > header h1, body > header h1 b {
    position: relative;
  }
  /* line 192, ../sass/screen.scss */
  body > header h1:before, body > header h1:after, body > header h1 b:before, body > header h1 b:after {
    content: attr(title);
    position: absolute;
    opacity: .3;
  }
  /* line 193, ../sass/screen.scss */
  body > header h1:before, body > header h1 b:before {
    left: 0;
    top: -4px;
  }
  /* line 194, ../sass/screen.scss */
  body > header h1:after, body > header h1 b:after {
    left: 4px;
    top: 4px;
  }
  /* line 196, ../sass/screen.scss */
  body > header sup {
    font-size: 18px;
  }
  /* line 197, ../sass/screen.scss */
  body > header figure {
    width: auto;
  }

  /* line 200, ../sass/screen.scss */
  body > article h1 {
    font-size: 30px;
    line-height: 40px;
    text-indent: 28px;
  }

  /* line 202, ../sass/screen.scss */
  p {
    font-size: 16px;
    line-height: 25px;
  }

  /* line 203, ../sass/screen.scss */
  #speakers h1 {
    font-family: "Vast Shadow", cursive, serif;
    font-size: 25px;
  }

  /* line 204, ../sass/screen.scss */
  .call-for-proposal {
    text-align: right;
  }

  /* line 207, ../sass/screen.scss */
  body {
    background-image: url(/images/header-bg.jpg);
  }

  /* line 208, ../sass/screen.scss */
  body.blog {
    background-image: url(/images/small-header-bg.jpg);
  }

  /* line 209, ../sass/screen.scss */
  aside {
    background: url(/images/bg_footer.png) repeat-x center bottom;
  }

  /* line 213, ../sass/screen.scss */
  body > header, body > article, aside section, nav ul {
    width: 917px;
    padding: 0;
    margin: 0 auto;
  }

  /* line 214, ../sass/screen.scss */
  body > header {
    padding-top: 76px;
  }
  /* line 215, ../sass/screen.scss */
  body > header h2 {
    margin-left: 8px;
  }

  /* line 217, ../sass/screen.scss */
  body > article {
    margin-top: 40px;
    min-height: 226px;
  }
  /* line 218, ../sass/screen.scss */
  body > article h1 {
    margin-bottom: 30px;
  }

  /* line 220, ../sass/screen.scss */
  aside {
    padding-bottom: 349px;
    margin-top: 30px;
  }
  /* line 221, ../sass/screen.scss */
  aside section {
    margin-top: 40px;
  }
  /* line 222, ../sass/screen.scss */
  aside #speakers h1 {
    margin-bottom: 30px;
  }

  /* line 224, ../sass/screen.scss */
  #venue {
    padding-bottom: 58px;
    border-bottom: 1px solid #c8c5bf;
  }
  /* line 226, ../sass/screen.scss */
  #venue figure img {
    max-width: 292px;
  }
  /* line 227, ../sass/screen.scss */
  #venue figure img:nth-child(3) {
    display: inline;
  }
  /* line 229, ../sass/screen.scss */
  #venue article {
    margin-top: 35px;
  }
  /* line 230, ../sass/screen.scss */
  #venue article h1 {
    margin-bottom: 38px;
  }

  /* line 233, ../sass/screen.scss */
  .extra-info {
    margin: 0 auto;
    width: 917px;
  }

  /* line 237, ../sass/screen.scss */
  #speakers {
    position: relative;
    margin-left: 0;
    margin-right: 38px;
  }
  /* line 238, ../sass/screen.scss */
  #speakers article h1 {
    position: absolute;
    left: -9999em;
  }
  /* line 239, ../sass/screen.scss */
  #speakers ul {
    margin: 28px 0 26px;
  }
  /* line 240, ../sass/screen.scss */
  #speakers li {
    border: none;
    margin: 0 10px 0 0;
    display: inline-block;
  }
  /* line 241, ../sass/screen.scss */
  #speakers img {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
  }
  /* line 242, ../sass/screen.scss */
  #speakers figure {
    position: relative;
    overflow: hidden;
  }
  /* line 243, ../sass/screen.scss */
  #speakers figcaption {
    width: 100%;
    height: 31px;
    position: absolute;
    left: 0;
    bottom: -31px;
    display: block;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -o-border-bottom-left-radius: 2px;
    -ms-border-bottom-left-radius: 2px;
    -khtml-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -o-border-bottom-right-radius: 2px;
    -ms-border-bottom-right-radius: 2px;
    -khtml-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 31px;
    text-indent: 7px;
    -moz-transition: bottom 0.3s;
    -webkit-transition: bottom 0.3s;
    -o-transition: bottom 0.3s;
    transition: bottom 0.3s;
  }
  /* line 244, ../sass/screen.scss */
  #speakers p {
    margin-bottom: 15px;
  }
  /* line 245, ../sass/screen.scss */
  #speakers a:hover figcaption {
    bottom: 0;
  }
  /* line 246, ../sass/screen.scss */
  #speakers .call-for-proposal {
    width: 100%;
    margin-top: 15px;
  }

  /* line 249, ../sass/screen.scss */
  #blog article h1, .blog article h1 {
    font-family: Palatino, cursive, serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 -20px 83px;
  }

  /* line 257, ../sass/screen.scss */
  #blog footer, .blog article footer {
    margin-bottom: 38px;
    font-size: 16px;
  }
  /* line 261, ../sass/screen.scss */
  #blog footer div, .blog article footer div {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 15px;
  }
  /* line 267, ../sass/screen.scss */
  #blog footer img, .blog article footer img {
    vertical-align: top;
  }
  /* line 271, ../sass/screen.scss */
  #blog footer time, .blog article footer time {
    font-style: italic;
    color: #848484;
  }

  /* line 279, ../sass/screen.scss */
  .blog footer, .blog article > div {
    display: inline-block;
    vertical-align: top;
  }
  /* line 284, ../sass/screen.scss */
  .blog div > h1, .blog article > div p {
    margin: 0;
    text-indent: 0;
    padding-bottom: 34px;
  }
  /* line 290, ../sass/screen.scss */
  .blog article > div p:last-child {
    padding-bottom: 0;
  }
  /* line 294, ../sass/screen.scss */
  .blog footer {
    width: 274px;
  }
  /* line 298, ../sass/screen.scss */
  .blog article > div {
    width: 620px;
    margin-left: 20px;
  }
  /* line 303, ../sass/screen.scss */
  .blog article {
    margin-bottom: 90px;
  }

  /* line 309, ../sass/screen.scss */
  .extra-info section {
    display: inline-block;
    width: 439px;
    vertical-align: top;
  }
  /* line 315, ../sass/screen.scss */
  .extra-info .read-more {
    margin-top: 30px;
    text-align: right;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 323, ../sass/screen.scss */
  body {
    background-size: 100% 619px;
  }

  /* line 324, ../sass/screen.scss */
  body.blog {
    background-size: 100% 217px;
  }
}
