@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: Palatino, cursive, serif; }

p, figcaption {
  font-size: 14px;
  line-height: 22px; }

em {
  font-style: italic; }

h1, h2 {
  font-family: "Vast Shadow", cursive, serif; }

h1 {
  font-size: 25px; }

body > header h1, body > article h1, #venue article h1 {
  font-family: "Abel", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px; }
body > header sup, body > article sup, #venue article sup {
  font-size: 6px;
  vertical-align: top;
  text-transform: lowercase; }

body > header {
  text-transform: uppercase; }

body > article h1 {
  font-size: 20px;
  line-height: 24px; }

a {
  text-decoration: none; }

.button {
  font-family: Arial, Helvetica;
  font-style: bold;
  text-transform: uppercase; }

#venue article h1 {
  font-size: 25px; }

#speakers h1 {
  font-family: Palatino, cursive, serif;
  font-size: 18px; }

body {
  background: #f5f3ed no-repeat center top;
  color: #2b2b2b; }

body > header h1 {
  text-shadow: #201a30 0 2px 2px; }
  body > header h1 b {
    color: #992b28; }
  body > header h1, body > header h1 b {
    position: relative; }
    body > header h1:before, body > header h1:after, body > header h1 b:before, body > header h1 b:after {
      content: attr(title);
      position: absolute;
      opacity: .3; }
    body > header h1:before, body > header h1 b:before {
      left: 0;
      top: -1px; }
    body > header h1:after, body > header h1 b:after {
      left: 1px;
      top: 1px; }
body > header time {
  color: #bd3632; }

body > article {
  text-shadow: #fff 0 1px 1px; }

a {
  color: #992b28; }
  a:hover {
    text-decoration: underline; }

figcaption {
  background: #fafbd7;
  background: rgba(43, 43, 43, 0.9);
  color: #fafbd7; }

.button {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c0e47c), color-stop(100%, #a6c75e));
  background: -webkit-linear-gradient(#c0e47c, #a6c75e);
  background: -moz-linear-gradient(#c0e47c, #a6c75e);
  background: -o-linear-gradient(#c0e47c, #a6c75e);
  background: -ms-linear-gradient(#c0e47c, #a6c75e);
  background: linear-gradient(#c0e47c, #a6c75e);
  color: #5d7731;
  line-height: 39px;
  text-shadow: #f0fbd9 0 1px 1px;
  text-align: center; }
  .call-for-proposal .button {
    position: relative;
    padding-left: 48px; }
    .call-for-proposal .button:before {
      content: '';
      display: block;
      width: 34px;
      height: 30px;
      position: absolute;
      left: 6px;
      top: 4px;
      background: url(/images/octocat-icon.png) no-repeat left top; }
  .buy-tickets .button {
    position: relative;
    padding-left: 48px; }
    .buy-tickets .button:before {
      content: '';
      display: block;
      width: 31px;
      height: 30px;
      position: absolute;
      left: 6px;
      top: 4px;
      background: url(/images/tickets-icon.png) no-repeat left top; }

.button {
  padding: 0 18px;
  border: 1px solid #9bb66a;
  height: 39px;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
  -webkit-box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
  -o-box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
  box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px; }

body > header {
  padding: 10px;
  margin-bottom: 10px; }
  body > header b {
    display: inline-block; }
  body > header figure {
    width: 25.2998909%;
    display: inline-block;
    vertical-align: top; }
    body > header figure img {
      max-width: 100%; }
  body > header hgroup {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px; }
  body > header h2 {
    margin-top: 4px; }

body > article {
  padding: 20px; }
  body > article h1 {
    margin-bottom: 20px; }

aside {
  margin-top: 20px;
  border-top: 11px solid #c8c5bf; }
  aside h1 {
    margin-bottom: 30px; }
  aside section {
    padding: 20px; }

#venue figure img {
  max-width: 46%;
  margin-right: 10px;
  vertical-align: top; }
  #venue figure img:nth-child(3) {
    display: none; }
#venue article {
  margin-top: 30px; }
  #venue article h1 {
    margin-bottom: 20px; }

#speakers ul, #speakers h1 {
  margin-bottom: 15px; }
#speakers li {
  padding-bottom: 5px;
  border-bottom: 5px solid #c8c5bf;
  margin: 20px 0 0 0; }
#speakers img {
  max-width: 100%; }
#speakers figcaption {
  display: none; }

strong {
  font-weight: bold; }

nav {
  height: 42px;
  background: #2b2b2b;
  width: 100%; }
  nav ul {
    font-family: "Abel", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 42px;
    text-align: right;
    position: relative; }
    nav ul li {
      display: inline-block;
      vertical-align: top;
      margin-right: 30px; }
      nav ul li:first-child {
        position: absolute;
        left: 0;
        top: 0; }
      nav ul li:last-child {
        margin-right: 0; }
      nav ul li.twitter {
        font-size: 13px;
        padding-right: 28px;
        background: url(/images/twitter.png) no-repeat right center; }
    nav ul a {
      color: #fafbd7;
      text-transform: uppercase; }
      nav ul a:hover {
        color: #ec716d; }

.blog article h1, .blog article h2, .schedule article h1, .schedule article h2 {
  font-family: Palatino, cursive, serif; }
.blog > h1, .schedule > h1 {
  border-top: 11px solid #C8C5BF;
  padding: 20px;
  padding-bottom: 0; }
  .blog > h1 b, .schedule > h1 b {
    display: block;
    margin: 0 auto; }
.blog > article > div img, .schedule > article > div img {
  max-width: 100%; }

table {
  width: 100%; }
  table th, table td {
    padding: 0 20px; }
  table tr {
    line-height: 2.5;
    background: #fff;
    border-bottom: 1px solid #ccc; }
    table tr:nth-child(even) {
      background: #F5F3ED; }
  table thead {
    border: 1px solid #992B28;
    border-bottom: none; }
    table thead tr {
      background: #992B28;
      color: #fff;
      text-shadow: none; }
      table thead tr th {
        font-weight: bold; }
  table tbody {
    border: 1px solid #ccc; }

article section.special-event {
  overflow: hidden;
  margin-bottom: 50px; }
  article section.special-event p {
    width: 60%; }
  article section.special-event img {
    border: 1px solid #ccc;
    background: #fff;
    padding: 15px;
    margin-right: 20px;
    max-width: 120px;
    float: left; }
  article section.special-event h3 {
    padding-top: 0;
    margin-bottom: 15px; }

@media only screen and (min-width: 800px) {
  body > header hgroup {
    margin: 30px 0 0 12px; }
  body > header h1 {
    font-size: 129px; }
  body > header h2 {
    font-size: 34px;
    word-spacing: 0; }
  body > header h1, body > header h1 b {
    position: relative; }
    body > header h1:before, body > header h1:after, body > header h1 b:before, body > header h1 b:after {
      content: attr(title);
      position: absolute;
      opacity: .3; }
    body > header h1:before, body > header h1 b:before {
      left: 0;
      top: -4px; }
    body > header h1:after, body > header h1 b:after {
      left: 4px;
      top: 4px; }
  body > header sup {
    font-size: 18px; }
  body > header figure {
    width: auto; }

  body > article h1 {
    font-size: 30px;
    line-height: 40px;
    text-indent: 28px; }

  p {
    font-size: 16px;
    line-height: 25px; }

  #speakers h1 {
    font-family: "Vast Shadow", cursive, serif;
    font-size: 25px; }

  .call-for-proposal {
    text-align: right; }

  body {
    background-image: url(/images/header-bg.jpg); }

  body.blog, body.schedule {
    background-image: url(/images/small-header-bg.jpg);
    background-position-y: 37px; }

  body > header, body > article, aside section, nav ul, #sponsors > div {
    width: 917px;
    padding: 0;
    margin: 0 auto; }

  body > header {
    padding-top: 76px; }
    body > header h2 {
      margin-left: 8px; }

  body > article {
    margin-top: 40px;
    min-height: 226px; }
    body > article h1 {
      margin-bottom: 30px; }

  aside {
    margin-top: 30px;
    margin-bottom: 40px; }
    aside section {
      margin-top: 40px; }
    aside #speakers h1 {
      margin-bottom: 30px; }

  #venue {
    padding-bottom: 58px;
    border-bottom: 1px solid #c8c5bf; }
    #venue figure img {
      max-width: 292px; }
    #venue figure img:nth-child(3) {
      display: inline; }
    #venue article {
      margin-top: 35px; }
      #venue article h1 {
        margin-bottom: 38px; }

  .extra-info {
    margin: 0 auto;
    width: 917px; }

  #sponsors {
    background: url(/images/bg_footer.png) repeat-x center bottom;
    padding: 40px 0 349px;
    border-top: 11px solid #C8C5BF; }
    #sponsors h1 {
      margin-bottom: 20px; }
    #sponsors div {
      margin-bottom: 40px; }
    #sponsors h3 {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px;
      background: #992B28;
      color: #fff;
      font-family: Helvetica, Arial, Verdana;
      font-weight: bold;
      font-size: 10px;
      text-transform: uppercase; }
    #sponsors ul {
      overflow: hidden;
      padding-bottom: 20px; }
    #sponsors li {
      float: left;
      width: 284px;
      height: 180px;
      margin: 30px 0 0 30px;
      position: relative; }
      #sponsors li:nth-child(3n+1) {
        clear: both;
        margin-left: 0; }
      #sponsors li > a {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        background: #fff;
        padding: 30px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }
        #sponsors li > a:hover {
          border-color: #992B28; }
        #sponsors li > a.open {
          text-align: center;
          padding-top: 55px; }
      #sponsors li p {
        margin-bottom: 15px; }
      #sponsors li p:last-child {
        margin-bottom: 0px; }
      #sponsors li img {
        max-width: 100%; }
      #sponsors li.description {
        width: 598px;
        height: auto; }
    #sponsors .silver li {
      width: 205px;
      height: 136px;
      margin-left: 150px; }
      #sponsors .silver li:nth-child(3n+1) {
        clear: both;
        margin-left: 0; }
    #sponsors .supporters li {
      height: auto; }
      #sponsors .supporters li span {
        float: right;
        margin-right: 10px;
        font-style: italic;
        color: #848484; }

  #tickets {
    padding-bottom: 58px;
    border-bottom: 1px solid #c8c5bf; }
    #tickets b {
      font-weight: bold; }
    #tickets p {
      margin-bottom: 15px; }
    #tickets .buy-tickets {
      text-align: right; }

  #speakers {
    position: relative;
    margin-left: 0;
    margin-right: 38px; }
    #speakers article h1 {
      position: absolute;
      left: -9999em; }
    #speakers ul {
      margin: 28px 0 26px; }
    #speakers li {
      border: none;
      margin: 0 10px 0 0;
      display: inline-block; }
    #speakers img {
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      -khtml-border-radius: 2px;
      border-radius: 2px; }
    #speakers p {
      margin-bottom: 15px; }
    #speakers figure {
      position: relative;
      overflow: hidden; }
    #speakers figcaption {
      width: 100%;
      height: 31px;
      position: absolute;
      left: 0;
      bottom: -31px;
      display: block;
      -moz-border-radius-bottomleft: 2px;
      -webkit-border-bottom-left-radius: 2px;
      -o-border-bottom-left-radius: 2px;
      -ms-border-bottom-left-radius: 2px;
      -khtml-border-bottom-left-radius: 2px;
      border-bottom-left-radius: 2px;
      -moz-border-radius-bottomright: 2px;
      -webkit-border-bottom-right-radius: 2px;
      -o-border-bottom-right-radius: 2px;
      -ms-border-bottom-right-radius: 2px;
      -khtml-border-bottom-right-radius: 2px;
      border-bottom-right-radius: 2px;
      line-height: 31px;
      text-indent: 7px;
      -moz-transition: bottom 0.3s;
      -webkit-transition: bottom 0.3s;
      -o-transition: bottom 0.3s;
      transition: bottom 0.3s; }
    #speakers a:hover figcaption {
      bottom: 0; }
    #speakers .call-for-proposal {
      width: 100%;
      margin-top: 15px; }

  #blog article h1, .blog article h1, .schedule article h1 {
    font-size: 30px;
    margin: 0 0 -20px 83px; }
  #blog article h2, .blog article h2, .schedule article h2 {
    font-size: 24px;
    margin: 12px 0 24px 0; }

  #blog article {
    border-bottom: 1px solid #C8C5BF;
    padding-bottom: 15px;
    margin-bottom: 15px; }

  #blog article footer {
    margin: 0; }

  #blog article h1 {
    font-size: 20px;
    position: relative; }

  #blog footer, .blog article footer, .schedule article footer {
    margin-bottom: 38px;
    font-size: 16px; }
    #blog footer div, .blog article footer div, .schedule article footer div {
      display: inline-block;
      vertical-align: bottom;
      margin-left: 15px; }
    #blog footer img, .blog article footer img, .schedule article footer img {
      vertical-align: top; }
    #blog footer time, .blog article footer time, .schedule article footer time {
      font-style: italic;
      color: #848484; }

  #blog article footer div {
    margin-left: 9px; }

  .blog > header, .schedule > header {
    height: 135px; }
    .blog > header figure, .schedule > header figure {
      width: 118px;
      height: 118px; }
    .blog > header hgroup, .schedule > header hgroup {
      margin-top: 0;
      margin-left: 4px; }
    .blog > header h1, .schedule > header h1 {
      display: inline-block;
      font-size: 110px;
      vertical-align: top; }
    .blog > header h2, .schedule > header h2 {
      display: inline-block;
      font-size: 30px;
      margin-left: 26px;
      text-align: right; }
      .blog > header h2 b, .schedule > header h2 b {
        display: block; }
        .blog > header h2 b.month, .schedule > header h2 b.month {
          font-size: 50px; }
    .blog > header time, .schedule > header time {
      color: #2B2B2B; }
  .blog > h1, .schedule > h1 {
    padding-top: 38px; }
    .blog > h1 b, .schedule > h1 b {
      width: 917px; }

  .blog footer, .blog article > div, .schedule footer, .schedule article > div {
    display: inline-block;
    vertical-align: top; }
  .blog div > h1, .blog div > h3, .blog article > div p, .schedule div > h1, .schedule div > h3, .schedule article > div p {
    margin: 0;
    text-indent: 0;
    padding-bottom: 24px; }
  .blog article > div p:last-child, .schedule article > div p:last-child {
    padding-bottom: 0; }
  .blog article.post, .schedule article.post {
    border-bottom: 1px solid #C8C5BF;
    padding-bottom: 45px; }
  .blog footer, .schedule footer {
    width: 274px; }
  .blog article > div, .schedule article > div {
    width: 620px;
    margin-left: 20px; }
  .blog article, .schedule article {
    margin-bottom: 45px; }
    .blog article b, .blog article strong, .schedule article b, .schedule article strong {
      font-weight: bold; }
    .blog article p, .schedule article p {
      margin-bottom: 8px; }
    .blog article h3, .schedule article h3 {
      font-size: 20px;
      padding-top: 12px; }
    .blog article ul, .schedule article ul {
      margin-bottom: 24px; }
    .blog article q, .schedule article q {
      font-style: italic; }
      .blog article q:before, .schedule article q:before {
        content: '“'; }
      .blog article q:after, .schedule article q:after {
        content: '”'; }

  .extra-info section {
    display: inline-block;
    width: 439px;
    vertical-align: top; }
  .extra-info .read-more {
    margin-top: 30px;
    text-align: right; } }
@media only screen and (min-width: 1500px) {
  body {
    background-size: 100% 619px; }

  body.blog, body.schedule {
    background-size: 100% 217px; } }
