/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p180@euruko2012/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/screen.scss */
body {
  font-family: Palatino, cursive, serif;
}

/* line 7, ../sass/screen.scss */
p, figcaption {
  font-size: 14px;
  line-height: 22px;
}

/* line 8, ../sass/screen.scss */
h1, h2 {
  font-family: "Vast Shadow", cursive, serif;
}

/* line 9, ../sass/screen.scss */
h1 {
  font-size: 25px;
}

/* line 11, ../sass/screen.scss */
body > header h1, body > article h1, #venue article h1 {
  font-family: "Abel", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
}
/* line 12, ../sass/screen.scss */
body > header h2, body > article h2, #venue article h2 {
  font-size: 8px;
  word-spacing: 3px;
}

/* line 14, ../sass/screen.scss */
body > header {
  text-transform: uppercase;
}

/* line 15, ../sass/screen.scss */
body > article h1 {
  font-size: 20px;
  line-height: 24px;
}

/* line 16, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 17, ../sass/screen.scss */
.button {
  font-family: Arial, Helvetica;
  font-style: bold;
  text-transform: uppercase;
}

/* line 18, ../sass/screen.scss */
#venue article h1 {
  font-size: 25px;
}

/* line 19, ../sass/screen.scss */
#speakers h1 {
  font-family: Palatino, cursive, serif;
  font-size: 18px;
}

/* line 22, ../sass/screen.scss */
body {
  background: #f5f3ed;
  color: #2b2b2b;
}

/* line 24, ../sass/screen.scss */
body > header h1 {
  text-shadow: #201a30 0 2px 2px;
}
/* line 25, ../sass/screen.scss */
body > header h1 b {
  color: #992b28;
}
/* line 27, ../sass/screen.scss */
body > header h1, body > header h1 b {
  position: relative;
}
/* line 28, ../sass/screen.scss */
body > header h1:before, body > header h1:after, body > header h1 b:before, body > header h1 b:after {
  content: attr(title);
  position: absolute;
  opacity: .3;
}
/* line 29, ../sass/screen.scss */
body > header h1:before, body > header h1 b:before {
  left: 0;
  top: -1px;
}
/* line 30, ../sass/screen.scss */
body > header h1:after, body > header h1 b:after {
  left: 1px;
  top: 1px;
}
/* line 33, ../sass/screen.scss */
body > header time {
  color: #bd3632;
}

/* line 35, ../sass/screen.scss */
body > article {
  text-shadow: #fff 0 1px 1px;
}

/* line 36, ../sass/screen.scss */
.read-more a {
  color: #992b28;
}

/* line 37, ../sass/screen.scss */
.button {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c0e47c), color-stop(100%, #a6c75e));
  background: -webkit-linear-gradient(#c0e47c, #a6c75e);
  background: -moz-linear-gradient(#c0e47c, #a6c75e);
  background: -o-linear-gradient(#c0e47c, #a6c75e);
  background: -ms-linear-gradient(#c0e47c, #a6c75e);
  background: linear-gradient(#c0e47c, #a6c75e);
  color: #5d7731;
  line-height: 39px;
  text-shadow: #f0fbd9 0 1px 1px;
  text-align: center;
}

/* line 40, ../sass/screen.scss */
.button {
  padding: 0 18px;
  border: 1px solid #9bb66a;
  height: 39px;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
  -webkit-box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
  -o-box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
  box-shadow: #dad8d1 0 2px 2px, inset #dff5a1 0 2px 2px;
}

/* line 41, ../sass/screen.scss */
body > header {
  padding: 10px;
  margin-bottom: 10px;
}
/* line 42, ../sass/screen.scss */
body > header b {
  display: inline-block;
}
/* line 43, ../sass/screen.scss */
body > header figure {
  width: 25.2998909%;
  display: inline-block;
  vertical-align: top;
}
/* line 44, ../sass/screen.scss */
body > header figure img {
  max-width: 100%;
}
/* line 46, ../sass/screen.scss */
body > header hgroup {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
/* line 47, ../sass/screen.scss */
body > header h2 {
  margin-top: 4px;
}

/* line 49, ../sass/screen.scss */
body > article {
  padding: 0 20px;
}
/* line 50, ../sass/screen.scss */
body > article h1 {
  margin-bottom: 20px;
}

/* line 52, ../sass/screen.scss */
aside {
  margin-top: 20px;
  border-top: 11px solid #c8c5bf;
}
/* line 53, ../sass/screen.scss */
aside h1 {
  margin-bottom: 30px;
}
/* line 54, ../sass/screen.scss */
aside section {
  padding: 20px;
}

/* line 57, ../sass/screen.scss */
#venue figure img {
  max-width: 46%;
  margin-right: 10px;
}
/* line 58, ../sass/screen.scss */
#venue figure img:nth-child(3) {
  display: none;
}
/* line 60, ../sass/screen.scss */
#venue article {
  margin-top: 30px;
}
/* line 61, ../sass/screen.scss */
#venue article h1 {
  margin-bottom: 20px;
}

/* line 65, ../sass/screen.scss */
#speakers ul, #speakers h1 {
  margin-bottom: 15px;
}
/* line 66, ../sass/screen.scss */
#speakers li {
  padding-bottom: 5px;
  border-bottom: 5px solid #c8c5bf;
  margin: 20px 0 0 0;
}
/* line 67, ../sass/screen.scss */
#speakers img {
  max-width: 100%;
}
/* line 68, ../sass/screen.scss */
#speakers figcaption {
  display: none;
}
