<!DOCTYPE html>
<html lang="en">

{% include page_head.html %}

<body class="home">
  <header>
    <figure>
      <img src="images/logo.png" alt="">
    </figure><hgroup>
      <h1 title="Euruko">EuRuKo<b title="2012">2012</b></h1>
      <h2>Amsterdam - <time datetime="2012-06-01">1<sup>st</sup></time> &amp; <time datetime="2012-06-02">2<sup>nd</sup> june</time>
    </hgroup>
  </header>

  <article>
    {{ content }}
  </article>

  <aside>
    <section id="venue">
      <h1>Venue</h1>
      <figure>
        <img src="/images/venue/tuschinski-1.jpg" alt="Tuschinski main room">
        <img src="/images/venue/tuschinski-2.jpg" alt="Tuschinski hall">
        <img src="/images/venue/tuschinski-3.jpg" alt="Tuschinski main room">
      </figure>
      <article>
        <h1>Pathé Tuschinski</h1>
        <p>The conference will be held in Pathé Tuschinski, a movie theatre in the heart of Amsterdam. Built in 1921 by its namesake Abraham Icek Tuschinski, the Hijman Louis de Jong-designed building is a spectacular mix of architectural styles: Amsterdam School, Jugendstil, Art Nouveau and Art Deco. The main auditorium usually plays host to movie premieres in the Netherlands, and is considered one of the most beautiful cinemas in the world.</p>
      </article>
    </section>
    <section id="tickets">
      <h1>Ticketing</h1>
      <p>Tickets will be sold in three batches, with the first batch going on sale at <b>8pm CET on the 13th of March</b>.</p>
      <p>
        Two types of tickets are available, normal and the micro sponsorships.
        Normal tickets are 65,- EURO and usually sell out quickly so make sure you are ready and waiting.
        Micro sponsorship tickets will be 350,- EURO and are a bit more expensive but we will add your name to the EuRuKo site to say thanks, as well as giving you some love on the day.
      </p>
      <p class="buy-tickets"><a href="https://www.amiando.com/euruko2012.html" class="button">Buy tickets</a></p>
    </section>
    <div class="extra-info">
      <section id="speakers">
        <h1>Call for proposals</h1>
        <p>Have a great idea for a talk? Do you have passion bursting out your ears? Want to sing to the world about a better way to use Ruby? Then why not submit a talk!</p>
        <p>We love talk ideas of all shapes and sizes, but if you need a little inspiration maybe think about 'using Ruby as a glue'.<br>This is open to interpretation and we are looking forward to seeing the many ideas you come up with :)</p>
        <p class="call-for-proposal"><a href="https://github.com/euruko2012/call-for-proposals" class="button">Propose on Github</a></p>
      </section><section id="blog">
        <h1>Blog</h1>
        {% for post in site.posts limit:4 %}
        <article>
          <h1><a href="{{ post.url }}">{{ post.title | xml_escape}}</a></h1>
          <footer>
            <img src="{{ post.picture }}" alt="{{ post.author }}">
            <div>
              <p>by {{ post.author }}</p>
              <p><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
            </div>
          </footer>
        </article>
        {% endfor %}
        <p class="read-more"><a href="/blog.html">Read more...</a></p>
    </div>
  </aside>

  <section id="sponsors">
    <div>
      <h1>Platinum sponsor</h1>
      <ul>
        <li>
          <a href="http://www.wooga.com/"><img src="/images/sponsors/wooga.png" alt="Wooga"></a>
        </li>
        <li class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa turpis, feugiat vehicula ultricies at, pretium non ante. Quisque eu semper nibh. Maecenas nunc eros, varius nec faucibus at, scelerisque nec ligula. Vivamus vitae convallis ante. Cras vitae metus eu sem iaculis congue. Curabitur libero elit, rhoncus non tempus et, fermentum eu sem. Donec ut erat velit, id ultrices urna. Suspendisse tempus sagittis quam, nec commodo massa congue vitae. </p>
        </li>
      </ul>
    </div>
    <div>
      <h1>Gold sponsor</h1>
      <ul>
        <li>
          <a href="http://railslove.com/"><img src="/images/sponsors/railslove.png" alt="Railslove"></a>
        </li>
        <li>
          <a href="http://www.avarteq.de/hosting"><img src="/images/sponsors/avarteq.png" alt="Avarteq"></a>
        </li>
        <li>
          <a href="http://www.lunarlogicpolska.com/"><img src="/images/sponsors/lunarlogicpolska.png" alt="Lunar Logic Polska"></a>
        </li>
      </ul>
    </div>
    <div>
      <h1>Sponsors</h1>
      <ul class="silver">
        <li>
          <h3>Silver</h3>
          <a href="https://www.cloudcontrol.com/"><img src="/images/sponsors/cloudcontrol.png" alt="Cloudcontrol"></a>
        </li>
        <li>
          <h3>Silver</h3>
          <a href="http://www.jobmensa.de/"><img src="/images/sponsors/jobmensa.png" alt="Jobmensa"></a>
        </li>
        <li>
          <h3>Silver</h3>
          <a href="http://www.zendesk.com/"><img src="/images/sponsors/zendesk.png" alt="Zendesk"></a>
        </li>
        <li>
          <h3>Boat party</h3>
          <a href="http://www.github.com"><img src="/images/sponsors/github.png" alt="Github"></a>
        </li>
      </ul>
    </div>
  </section>

  {% include analytics.html %}

</body>
</html>
